!!!
%html
  %head
    %title Change Brazil! O Gigante Acordou, Muda Brasil!
    %meta{ :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/styles.css', :type => 'text/css' }
    %link{ :href => '/images/br_favicon.png', :rel => 'shortcut icon', :type => 'image/png' }
    %script{ :type => 'text/javascript', :src => '/javascripts/zepto.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap.min.js' }
  %body.pink
    .wrapper
      - if session[:error]
        .alert.alert-error
          = session[:error]
      - if session[:success]
        .alert.alert-success
          = session[:success]
      - session.clear
      .header
        %h1 Muda Brasil!
        %iframe.flickr-slideshow{ :src => "http://www.flickr.com/slideShow/index.gne?user_id=97566492@N02", :frameBorder => 0, :scrolling => 'no' }
        .call-to-action
          %p
            Transformamos o que eram centavos em milhões.
            Milhões de olhares, milhões de vozes, Milhões de sonhos e um só movimento: mostrar que o Brasil é grande por sua gente, e nós temos que ser ouvidos. Vem pra rua torcer pelo Brasil de verdade. Nunca foi por 20 centavos, é pelo nosso direito civil. 
            Estamos fazendo história. Estamos em todos os lugares, em cada hospital sem vaga, em cada criança sem escola, em cada comunidade de periferia que sofre abuso, em cada viagem em um transporte caro, sucateado e ineficiente.
            Temos a maior arma contra a repressão e o autoritarismo: a tecnologia. 
            Cada foto constrói a narrativa do que estamos vivendo e das mudanças que vamos promover.
            O Mundo está no Brasil, na sua gente, na sua luta, na sua ânsia por respeito, e tudo isto visto pelo olhar de cada um de nós.
          %p.highlight
            Adicione uma foto sua em um protesto para mostrar ao mundo que o Brasil pode mudar!
      .image-editor= yield
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41783508-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
