!!!
%html
  %head
    %title Change Brazil! O Gigante Acordou, Muda Brasil!
    %meta{ :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/styles.css', :type => 'text/css' }
    %link{ :href => '/images/br_favicon.png', :rel => 'shortcut icon', :type => 'image/png' }
    %script{ :type => 'text/javascript', :src => '/javascripts/zepto.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/bootstrap.min.js' }
  %body.pink
    .wrapper
      - if session[:error]
        .alert.alert-error
          = session[:error]
      - if session[:success]
        .alert.alert-success
          = session[:success]
      - session.clear
      .header
        %h1 Change Brazil!
        %iframe.flickr-slideshow{ :src => "http://www.flickr.com/slideShow/index.gne?user_id=97566492@N02", :frameBorder => 0, :scrolling => 'no' }
        .call-to-action
          %p
            Em Junho de 2013 o Brasil foi as ruas e iniciou uma onda de protestos contra a situação em que os brasileiros são submetidos todos os dias:
            Transporte público caro, ineficience e super lotado;
            Filas nos hospitais públicos, onde médicos mal remunerados usam equipamentos precários;
            Violência sem precedentes aterrorizando a população;
            Escolas públicas caindo aos pedaços e professores mal remunerados;

            Tudo isso aliado a um governo corrupto sem punição, uma das maiores taxas tributárias do mundo, gastos excessivos com estádios de futebol para a copa do mundo. 
            %a{ :href => 'http://www.changebrazil.com.br/', :target => '_blank' } campaign
            took off - within hours Iranians sent beautiful images back and messages have been sent from all over the world.
            O gigante acordou, a população foi as ruas e essas são as imagens da revolução brasileira:
          %p.highlight
            Adicione uma foto sua em um protesto para mostrar ao mundo que o Brasil pode mudar!
      .image-editor= yield
      .editor-instructions
        %p
          Create and share your photo using the tool from
          Junte-se a milhares de brasileiros e assine a petição contra a 
          %a{ :href => 'http://j.mp/GAxy0I', :target => '_blank' } petition
          to say no to war.
        %iframe.video{ :width => 500, :height => 315, :src => "http://www.youtube.com/embed/AIBYEXLGdSg", :frameborder => 0, :allowfullscreen => 'yes' }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41783508-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
